.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 3rem;
    font-family: sans-serif;
}
.item{
    font-size: 1.5rem;
    font-family: sans-serif;
}
input{
    margin-top: 19px;
    margin-bottom: 19px;
    width: 100%;
    max-width: 300px;
}
button{
    background-color: hsl(240, 100%, 64%);
    height: 65px;
    height: 60;
    border: none;
    border-radius: 10px;
    font-size: 1em;
}
p{
    font-size: 2.5rem;
    font-family: sans-serif;
}